<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href='../static/icons/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='../static/icons/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../static/img/fav.png" type="image/x-icon">
    <title>CHANGE PASSWORD</title>
</head>
<body>

    <section class="authentication">
        <div class="container-fluid">

            <div class="authentication-content">

                <div class="authentication-demo">

                    <div class="logo-img">
                        <a href="#">
                            <img src="../static/img/logo.png" alt="logo image">
                        </a>
                    </div>

                    <h1 class="section-heading">join us and unlock endless posibilities!</h1>
                    <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde dolore veniam quae nisi perferendis modi nesciunt ea, nobis at autem doloremque.</p>

                    <div class="feedback-card">

                        <div class="feedback-rating">
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                        </div>

                        <p class="feedback-review">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tempore sed quisquam dolor quae odit dolores repudiandae dicta nobis sit, sequi vel nostrum ut esse. Eligendi sapiente nisi labore tenetur!"</p>

                        <div class="row-group">

                            <div class="client-img">
                                <img src="../static/img/user.jpg" alt="client image">
                            </div>

                            <div class="text-wrapper">
                                <h1 class="client-name">james doe</h1>
                                <h4 class="client-role">CEO founder</h4>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="authentication-form">
                    <div class="inner">
                        
                        <h1 class="form-heading">set a new password!</h1>

                        <form action="" method="" enctype="multipart/form-data">

                            <div class="input-box">
                                <label for="id_password" class="authentication-input-label">old password</label>
                                <input type="password" name="password" id="id_password" placeholder="your old password" class="authentication-input">
                            </div>

                            <div class="input-box">
                                <label for="id_password1" class="authentication-input-label">new password</label>
                                <input type="password" name="password1" id="id_password1" placeholder="your new password" class="authentication-input">
                            </div>

                            <div class="input-box">
                                <label for="id_password2" class="authentication-input-label">password confirmation</label>
                                <input type="password" name="password2" id="id_password2" placeholder="your password confirmation" class="authentication-input">
                            </div>

                            <div class="btn-box">
                                <button type="submit" class="authentication-btn">change password</button>
                            </div>

                        </form>
                        
                    </div>
                </div>
                
            </div>

        </div>
    </section>
    
</body>
</html>