<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href='../static/icons/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='../static/icons/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../static/img/fav.png" type="image/x-icon">
    <title>SIGNUP</title>
</head>
<body>

    <section class="authentication">
        <div class="container-fluid">

            <div class="authentication-content">

                <div class="authentication-demo">

                    <div class="logo-img">
                        <a href="#">
                            <img src="../static/img/logo.png" alt="logo image">
                        </a>
                    </div>

                    <h1 class="section-heading">join us and unlock endless posibilities!</h1>
                    <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde dolore veniam quae nisi perferendis modi nesciunt ea, nobis at autem doloremque.</p>

                    <div class="feedback-card">

                        <div class="feedback-rating">
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                        </div>

                        <p class="feedback-review">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tempore sed quisquam dolor quae odit dolores repudiandae dicta nobis sit, sequi vel nostrum ut esse. Eligendi sapiente nisi labore tenetur!"</p>

                        <div class="row-group">

                            <div class="client-img">
                                <img src="../static/img/user.jpg" alt="client image">
                            </div>

                            <div class="text-wrapper">
                                <h1 class="client-name">james doe</h1>
                                <h4 class="client-role">CEO founder</h4>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="authentication-form">
                    <div class="inner">
                        
                        <h1 class="form-heading">signup to <span>pofo</span></h1>

                        <form action="" method="" enctype="multipart/form-data">

                            <div class="input-box">
                                <label for="id_full_name" class="authentication-input-label">full name</label>
                                <input type="text" name="full_name" id="id_full_name" placeholder="your full name" class="authentication-input">
                            </div>

                            <div class="input-box">
                                <label for="id_email" class="authentication-input-label">email address</label>
                                <input type="email" name="email" id="id_email" placeholder="your email address" class="authentication-input">
                            </div>

                            <div class="input-box">
                                <label for="id_password1" class="authentication-input-label">password</label>
                                <input type="password" name="password1" id="id_password1" placeholder="your password" class="authentication-input">
                            </div>

                            <div class="input-box">
                                <label for="id_password2" class="authentication-input-label">password confirmation</label>
                                <input type="password" name="password2" id="id_password2" placeholder="your password confirmation" class="authentication-input">
                            </div>

                            <label for="id_privacy" class="privacy-check">
                                <input type="checkbox" name="privacy" id="id_privacy" class="privacy-checkbox">
                                by signing up, you agree to our terms of service and privacy policy.
                            </label>

                            <div class="btn-box">
                                <button type="submit" class="authentication-btn">create account</button>
                            </div>

                            <div class="authentication-divider"><span>or</span></div>

                            <div class="btn-box">
                                <a href="#" class="social-authentication-btn">
                                    <span class="social-icon bxl bx-google"></span>
                                    signup with google
                                </a>
                            </div>

                            <p class="authentication-text">
                                already a member?
                                <a href="#" class="authentication-url">login</a>
                            </p>

                        </form>

                    </div>
                </div>
                
            </div>

        </div>
    </section>
    
</body>
</html>