<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../static/img/fav.png" type="image/x-icon">
    <title>SUCCESS</title>
</head>
<body>

    <section class="authentication">
        <div class="container-fluid">

            <div class="authentication-content">

                <div class="authentication-demo">

                    <div class="logo-img">
                        <a href="#">
                            <img src="../static/img/logo.png" alt="logo image">
                        </a>
                    </div>

                    <h1 class="section-heading">join us and unlock endless posibilities!</h1>
                    <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora unde dolore veniam quae nisi perferendis modi nesciunt ea, nobis at autem doloremque.</p>

                    <div class="feedback-card">

                        <div class="feedback-rating">
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                            <span class="rating-item bx bxs-star"></span>
                        </div>

                        <p class="feedback-review">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tempore sed quisquam dolor quae odit dolores repudiandae dicta nobis sit, sequi vel nostrum ut esse. Eligendi sapiente nisi labore tenetur!"</p>

                        <div class="row-group">

                            <div class="client-img">
                                <img src="../static/img/user.jpg" alt="client image">
                            </div>

                            <div class="text-wrapper">
                                <h1 class="client-name">james doe</h1>
                                <h4 class="client-role">CEO founder</h4>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="authentication-state">
                    <div class="inner">
                        
                        <div class="img-box">
                            <img src="../static/img/success.png" alt="">
                        </div>

                        <h1 class="text-heading">check you email</h1>
                        <p class="text-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repellat sunt sequi repellendus modi natus omnis, laudantium harum, cum, ab eos voluptates ut saepe. Saepe qui alias error fugiat recusandae!</p>

                        <div class="btn-box">
                            <a href="#" class="back-btn">back to home</a>
                        </div>

                    </div>
                </div>
                
            </div>

        </div>
    </section>
    
</body>
</html>